.footer {
    padding: 80px 0;
}

.footer__main-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer__main-group-logo {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
}

.footer__main-group-button {
    font-size: 1.4rem;
}

.footer__group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__group-nav {
    margin-bottom: 18px;
    display: flex;
    gap: 40px;
}

.footer__group-nav-link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
}

.footer__group-nav-link:hover {
    color: cornflowerblue;
}

.footer__group-email {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

.footer__group-email:hover {
    color: cornflowerblue;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info-rights {
    color: #222b4066;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer__info-systems-list {
    display: flex;
    align-items: center;
}

.footer__info-systems-item-img {
    width: 45px;
}

.footer__info-socials-list {
    display: flex;
}

.footer__info-social-link {
    width: 46px;
    height: 46px;
    background: #222b400d;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    display: flex;
}

.footer__info-social-logo {
    width: 20px;
    height: 20px;
}