.qualification {
    margin: 80px 0;
}

.qualification__text-group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.qualification__title {
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.1;
}

.qualification__title--accent {
    color: cornflowerblue;
}

.qualification__description-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 32%;
}

.qualification__description-principals {
    font-size: 5.2rem;
    font-weight: 500;
}

.qualification__description {
    font-size: 1.6rem;
    line-height: 1.5;
}

.qualification__subtitle {
    margin: 60px 0 30px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.1;
}

.qualification__criteria-item {
    border-top: 1px solid #222b401a;
    grid-template-columns: 0.5fr 2fr 2fr;
    padding: 40px 0;
    display: grid;
    justify-items: center;
}

.qualification__criteria-item-number {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
}

.qualification__criteria-item-title {
    font-size: 4rem;
    font-weight: 500;
}

.qualification__criteria-item-description {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    width: 250px;
}