.questions__title {
    margin-bottom: 42px;
    font-size: 5.2rem;
    font-weight: 500;
    line-height: 1.1;
    width: 80%;
}

.questions__item-subtitle {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 32px;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #222b401a;
}

.questions__item-subtitle::before {
    content: "";
    width: 19px;
    height: 2px;
    background: black;
    transition: .3s;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(90deg);
}

.questions__item-subtitle::after {
    content: "";
    width: 19px;
    height: 2px;
    background: black;
    transition: .3s;
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(0deg);
}

.questions__item-answer {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
}

.questions__item.show .questions__item-answer {
    height: 190px;
    padding: 15px;
}

.questions__item.show .questions__item-subtitle::before {
    transform: rotate(0deg);
}

.questions__item.show .questions__item-subtitle {
    color: cornflowerblue;
}