.article__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include media-tablet {
    gap: 46px;
  }

  @include media-phone {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.article__title {
  font-size: 5.2rem;
  font-weight: 500;
  line-height: 1.1;

  @include media-tablet {
    font-size: 4rem;
  }

  @include media-phone {
    font-size: 3rem;
  }
}

.article__button {
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 26px;
}

.article__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  @include media-tablet {
    justify-content: center;
  }

  @include media-phone {
    flex-direction: column;
    align-items: center;
  }
}

.article__card {
  border: 1px solid black;
  border-radius: 8px;
  width: 350px;
  cursor: pointer;

  @include media-tablet {
    width: 45%;
  }

  @include media-phone {
    width: 85%;
  }
}

.article__card:hover {
  box-shadow: 2px 2px 2px 2px #222b4066;
}

.article__card-profile-group {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.article__card-profile-img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.article__card-profile-name {
  margin-bottom: 4px;
  font-size: 1.6rem;
  font-weight: 600;
}

.article__card-profile-years {
  color: #222b4066;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.article__card-image {
  width: 100%;
}

.article__card-wrapper {
  padding: 20px;

  @include media-phone {
    padding: 17px;
  }
}

.article__card-title {
  margin: 20px 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1;
}

.article__card-text {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}

.article__card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
}

.article__card-info-watches-group {
  display: flex;
  align-items: center;
  gap: 3px;
}

.article__card-info-watches-icon {
  width: 16px;
}

.article__card-info-likes-group {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: -40%;

  @include media-phone {
    margin-left: 0;
  }
}

.article__card-info-likes-icon {
  width: 16px;
}

.article__card-info-date {
  color: #222b4066;
  font-size: 1.4rem;
  font-weight: 500;
}
