.qualification {
  margin: 90px 0;

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.qualification__text-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include media-tablet {
    align-items: center;
    gap: 30px;
  }
}

.qualification__title {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.1;

  @include media-tablet {
    font-size: 4rem;
  }

  @include media-phone {
    font-size: 3rem;
  }
}

.qualification__title--accent {
  color: cornflowerblue;
}

.qualification__description-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 32%;

  @include media-phone {
    display: none;
  }
}

.qualification__description-principals {
  font-size: 5.2rem;
  font-weight: 500;

  @include media-tablet {
    font-size: 4rem;
  }
}

.qualification__description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.qualification__subtitle {
  margin: 60px 0 30px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.1;
}

.qualification__criteria-item {
  border-top: 1px solid #222b401a;
  grid-template-columns: 0.5fr 2fr 2fr;
  padding: 40px 0;
  display: grid;
  justify-items: center;

  @include media-tablet {
    gap: 20px;
  }

  @include media-phone {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
  }
}

.qualification__criteria-item-number {
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.qualification__criteria-item-title {
  font-size: 4rem;
  font-weight: 500;

  @include media-tablet {
    font-size: 2.5rem;
  }
}

.qualification__criteria-item-description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  width: 250px;

  @include media-tablet {
    width: auto;
  }
}
